<p id="notice"><%= notice %></p>
<% if @cocktail.photo.attached? %>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= rails_blob_url(@cocktail.photo) %>')">
  <h1><%= @cocktail.name %></h1>
</div>
<% else%>
  <h1><%= @cocktail.name %></h1>
<% end %>
<p>
  <strong>Ingredients:</strong><br>
  <ul>
  <% @cocktail.doses.each do |dose| %>
  <li> <%= dose.description %> : <%= dose.ingredient.name %> <%= link_to 'destroy', dose_path(dose), method: :delete, data: {confirm: 'are you sure!'}   %> </li>
  <%end%>
  </ul>
<%= link_to 'Add a new dose', new_cocktail_dose_path(@cocktail) %> |
<%= link_to 'Back', cocktails_path %>
</p>
